/* CP_DoFullRefresh */

.page {
  background-color: #000;
}

.body {
  height: 100%;
  background-color: #000;
}

.navbar .nav,
.navbar .nav > li {
  float: none;
  display: inline-block;
  *display: inline;
  /* ie7 fix */
  *zoom: 1;
  /* hasLayout ie7 trigger */
  vertical-align: center;
}

.navbar-inner {
  text-align: center;
}

.container {
  background-color: #181818;
  color: #fff;
  padding: 0px;
}

.title {
  padding: 0px 15px 0px 25px;
  vertical-align: center;
}

.anchor a {
  color: #fff;
}

.anchor a:link {
  color: #fff;
}

.anchor a:active {
  color: #fff;
}

.anchor a:visited {
  color: #fff;
}

.anchor a:hover {
  color: #fff;
  text-decoration: none;
}

.social {
  padding: 20px 0px 0px 40px;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.list-inline li {
  display: inline-block;
  padding-right: 50px;
  padding-left: 50px;
  margin-bottom: 10px;
}


/*---- Genral classes end -------*/


/*Change icons size here*/

.social-icons .fa {
  font-size: 35px;
}


/*Change icons circle size and color here*/

.social-icons .fa {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.social-icons.icon-circle .fa {
  border-radius: 50%;
}

social-icons .fa:hover,
.social-icons .fa:active {
  color: #FFF;
  -webkit-box-shadow: 1px 1px 3px #333;
  -moz-box-shadow: 1px 1px 3px #333;
  box-shadow: 1px 1px 3px #333;
}

.social-icons.icon-zoom .fa:hover,
.social-icons.icon-zoom .fa:active {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.social-icons.icon-rotate .fa:hover,
.social-icons.icon-rotate .fa:active {
  -webkit-transform: scale(1.1) rotate(360deg);
  -moz-transform: scale(1.1) rotate(360deg);
  -ms-transform: scale(1.1) rotate(360deg);
  -o-transform: scale(1.1) rotate(360deg);
  transform: scale(1.1) rotate(360deg);
}

.social-icons .fa-envelope-o {
  background-color: #cc0000;
}

.social-icons .fa-github,
.social-icons .fa-github-alt,
.social-icons .fa-github-square {
  background-color: #070709;
}

.social-icons .fa-linkedin,
.social-icons .fa-linkedin-square {
  background-color: #0085AE;
}

.social-icons .fa-twitter,
.social-icons .fa-twitter-square {
  background-color: #32CCFE;
}

img {
  max-width: 90%;
  height: auto;
  width: auto\9;
  /* ie8 */
}

.showcase img {
  padding: 10px 0px;
  text-align: center;
}

.about-text {
  padding: 0 50px;
}

.about-text a {
  color: #fff;
}

.about-text a:hover {
  color: #fff;
}

.about-text a:visited {
  color: #fff;
}

.footer ul li {
  margin: 0 -50px;
}

.showcasepics {
  display: inline-block;
  margin: 0 35px;
}

.picframe {
  background-color: #000000;
}

.picframe a {
  background-color: #000000;
  outline: none;
  border: 0px;
}

.modalbg {
  background-color: #181818;
}

.close2 {
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
}

/*New Social Icons */
#social_icon_footer {
  padding: 30px 0;
  background-color: #181818;
}

#social_icon_footer a {
  color: #333;
}

#social_icon_footer .social:hover {
   transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

#social_icon_footer .social {
   transform: scale(1.1);
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
   transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}
/*
    Multicoloured Hover Variations
*/

#social_icon_footer #social-gh:hover {
  color: #fff;
}

#social_icon_footer #social-tw:hover {
  color: #4099FF;
}

#social_icon_footer #social-li:hover {
  color: #fff;
}

#social_icon_footer #social-em:hover {
  color: #f39c12;
}