.page {
  background-color: #000;
}

.body {
  height: 100%;
  background-color: #000;
}

.container {
  background-color: #181818;
  color: #fff;
}

.title {
  padding: 20px;
}

.social {
  padding: 20px 0px 0px 40px;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.list-inline li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
  margin-bottom: 10px;
}


/*---- Genral classes end -------*/


/*Change icons size here*/

.social-icons .fa {
  font-size: 36px;
}


/*Change icons circle size and color here*/

.social-icons .fa {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #FFF;
  color: rgba(255, 255, 255, 0.8);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.social-icons.icon-circle .fa {
  border-radius: 50%;
}

social-icons .fa:hover,
.social-icons .fa:active {
  color: #FFF;
  -webkit-box-shadow: 1px 1px 3px #333;
  -moz-box-shadow: 1px 1px 3px #333;
  box-shadow: 1px 1px 3px #333;
}

.social-icons.icon-zoom .fa:hover,
.social-icons.icon-zoom .fa:active {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.social-icons.icon-rotate .fa:hover,
.social-icons.icon-rotate .fa:active {
  -webkit-transform: scale(1.1) rotate(360deg);
  -moz-transform: scale(1.1) rotate(360deg);
  -ms-transform: scale(1.1) rotate(360deg);
  -o-transform: scale(1.1) rotate(360deg);
  transform: scale(1.1) rotate(360deg);
}

.social-icons .fa-facebook,
.social-icons .fa-facebook-square {
  background-color: #3C599F;
}

.social-icons .fa-github,
.social-icons .fa-github-alt,
.social-icons .fa-github-square {
  background-color: #070709;
}

.social-icons .fa-linkedin,
.social-icons .fa-linkedin-square {
  background-color: #0085AE;
}

.social-icons .fa-instagram {
  background-color: #A1755C;
}

.social-icons .fa-twitter,
.social-icons .fa-twitter-square {
  background-color: #32CCFE;
}

img {
  max-width: 100%;
  height: auto;
  width: auto\9;
  /* ie8 */
}

.showcase {
  padding: 30px 0px;
}

.footer a {
  color: #fff;
  font-size: 12px;
}